<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="\static\test.css"/>
    <title>CSCB20 - Introduction to Database and Web Application</title>
</head>
<body >
    <div class = "header_container">
    <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="http://127.0.0.1:5000/">Home</a>
      <a href="http://127.0.0.1:5000/assignments">Assignment</a>
      <a href="https://calendar.google.com/calendar?cid=MDdqczk4OW1hcXBiOWxlMHVzc2djdTZxcThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">Calendar</a>
      <a href="http://127.0.0.1:5000/lab">Lab</a>
      <a href="http://127.0.0.1:5000/lectures">Lectures</a>
      <a href="http://127.0.0.1:5000/test">Test</a>
      <a href="http://127.0.0.1:5000/resource">Resource</a>
      <a href="http://127.0.0.1:5000/news">News</a>
      <a href="http://127.0.0.1:5000/mark">Mark</a>
      <a href="http://127.0.0.1:5000/feedback">Feedback</a>
      <a href="https://piazza.com/">Discuss Board</a>
</div>
  <div id="main">
  <button class="openbtn" onclick="openNav()">☰ Menu</button>
    <div class="title"><center><h1>Test</h1></center></div>
    <div class = "welcome"> Welcome {{name}}
          <a href="http://127.0.0.1:5000/logout">Logout</a>
  </div>
  </div>
</div>

<div class="body">
          <h2>Midterm</h2>

          <p>
            There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or HW216 depending on your last name as shown here.
            <br><img src="/static/Test allocation.png" style="width:600px">
          </p>
    
    <p>Preparing for the midterm: Understand all parts of A1.</p>
    <ul>
        <li>Understand all parts of A1.</li>
        <li>The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture.</li>
    </ul>
    <p>Once you have done some preparation, you can practice on a previous midterm: 
    <a href="/static/testA.pdf">Term Test</a></p>

    
    
</div>
<div class="footage">
    <div class="faculty">
        <a href="https://www.utsc.utoronto.ca/cms/faculty">UTSC CS faculty</a>
    </div>
    <div class="author">
        Design by: Yiming Zheng, Yushu Zou
    </div>
</div>


</body>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
</html>